.expense-tracker-top h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    width: 251px;
    height: 37px;
    margin-top: 10px;
    padding-left: 12px;
}

.expense-tracker-top-section{
    width: 100;
    height: 18rem;
    background-color: #626262;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.wallet-balance, .expenses{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20rem;
    height: 10rem;
    background-color: #9B9B9B;
    border-radius: 15px;
    margin-left: 40px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.wallet-balance div{
    font-family:  "Ubuntu";
    font-size: 1.5rem;
    color: #9DFF5B;
}

.wallet-balance-text{
    color: #FFFFFF;
}

.wallet-balance button{
    font-family: "Ubuntu";
    background: linear-gradient(to right, #B5DC52, #89E148);
    color: #FFFFFF;
    font-weight: 500;
    width: 8rem;
    height: 2rem;
    border-radius: 12px;
    cursor: pointer;
}

.expenses div{
    font-family:  "Ubuntu";
    font-size: 1.5rem;
    color: #F4BB4A;
}

.expenses-text{
    color: #FFFFFF;
}

.expenses button{
    font-family: "Ubuntu";
    background: linear-gradient(to right, #FF9595, #FF4747,#FF3838);
    color: #FFFFFF;
    font-weight: 500;
    width: 8rem;
    height: 2rem;
    border-radius: 12px;
    cursor: pointer;
}

.piechart-and-labels {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    
}

.labels{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    margin-left: 100px;
}

.color-indicator{
    margin-left: 1rem;
    margin-right: 0.2rem;
}

.expense-tracker-bottom h2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 251px;
    height: 37px;
    margin-top: 10px;
    font-style: italic;
}

.expense-tracker-bottom{
    width: 100;
    display: flex;
    justify-content: flex-start;
}

.recent-transactions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 50rem;
    height: 25rem;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.transaction-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #000;
    padding-bottom: 15px;
}

.transaction-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid #9B9B9B;
    margin-left: 30px;
    margin-right: 30px;
}

.ctg-img{
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.transaction-name{
    font-weight: 500;
}

.transaction-date{
    color: #9B9B9B;
}

.navigations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.prev-btn, .next-btn{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.page-num{
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43967B;
    color: #FFFFFF;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    font-size: 2rem;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.transaction-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4BB4A;
    width: 3rem;
    height: 3rem;
    border-radius: 20px;
}

.transaction-left{
    display: flex;
    align-items: center;
}

.transaction-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.transaction-right img{
    width: 3.5rem;
}

.edit-delete-btns{
    display: flex;
    cursor: pointer;
}

.price{
    font-family: "Ubuntu", sans-serif;
    font-weight: 1000;
    color:#F4BB4A;
}

.top-expense{
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    width: 30rem;
    height: 25rem;
    background-color: #FFFFFF;
    border-radius: 15px;
    color: #000;
}

.top-expense-labels{
    margin-left: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.top-expense-chart{
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.add-income-modal{
    margin-top: 1rem;;
    width: 30rem;
    height: 1.5rem;
    display: flex;
    gap: 1rem;
}

.add-income-modal input{
    padding-left: 2rem;
    width: 12.5rem;
    height: 2rem;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-balance-btn {
    background-color: #F4BB4A;
    font-family: 'Ubuntu';
    color: white;
    width: 8rem;
    height: 2rem;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.cancel-balance-btn {
    width: 5rem;
    height: 2rem;
    font-family: 'Ubuntu';
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.add-expense, .edit-expense {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.add-expense input {
    padding-left: 1rem;
    width: 10rem;
    height: 2rem;
    font-family: 'Ubuntu';
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
}

.add-expense select{
    padding-left: 1rem;
    width: 10rem;
    height: 2rem;
    font-family: 'Ubuntu';
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
}

.add-expense-btn{
    width: 10rem;
    height: 2rem;
    font-family: 'Ubuntu';
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
    margin-right: 1rem;
    background-color: #F4BB4A;
    cursor: pointer;
}

.cancel-expense-btn{
    width: 10rem;
    height: 2rem;
    font-family: 'Ubuntu';
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
    cursor: pointer;
}

.edit-expense input {
    padding-left: 1rem;
    width: 10rem;
    height: 2rem;
    font-family: 'Ubuntu';
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
}

.edit-expense select{
    padding-left: 1rem;
    width: 10rem;
    height: 2rem;
    font-family: 'Ubuntu';
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
}

.edit-expense-btn{
    width: 10rem;
    height: 2rem;
    font-family: 'Ubuntu';
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
    margin-right: 1rem;
    background-color: #F4BB4A;
    cursor: pointer;
}

.cancel-edit-expense-btn{
    width: 10rem;
    height: 2rem;
    font-family: 'Ubuntu';
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
    cursor: pointer;
}